<!-- write default html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- write body with hello world paragraph -->
<body>
    <p>Hello World</p>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
        <form action="{% url 'authentication:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <a href="{% url 'authentication:register' %}">Sign Up</a>
</body>

</html>
