<div>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
    <nav class="navbar-navbar">
        <a href="index.html" class="navbar-navlink">
            <div class="navbar-frame5">
                <img
                    alt="image41032"
                    src="/playground_assets/image41032-ng39-200w.png"
                    class="navbar-image4"
                />
                <img
                    alt="Line11032"
                    src="/playground_assets/line11032-r54d.svg"
                    class="navbar-line1"
                />
                <img
                    alt="image31032"
                    src="/playground_assets/image31032-x22b-200h.png"
                    class="navbar-image3"
                />
            </div>
        </a>
        <div class="navbar-menu">
            <div class="navbar-menuitem">
                <span class="navbar-text"
                    ><span>Emergencies</span></span
                >
            </div>
            <div class="navbar-menuitem1">
                <span class="navbar-text2"
                    ><span>How it works</span></span
                >
            </div>
            <button class="navbar-button">
                <img
                    alt="Rectangle171031"
                    src="/playground_assets/rectangle171031-rxgd-200h.png"
                    class="navbar-rectangle17"
                />
                <span class="navbar-text4"><span>Log in</span></span>
            </button>
        </div>
    </nav>
</div>
